#hrManagerMainMenu {
  position: absolute;
  background-color: #00d4ff;
  width: 190px;

}

#jobForm {
  position: absolute;
  left: 50px;
  top: 100px;
  width: 100%;
}

#jobTitleInput {
  position: absolute;
  top: 55px;
  width: 100%;
}

#hrManagerJD {
  position: absolute;
  background-color: #00d4ff;
  width: 210px;

}

#scrollTableCandidatesMatch {
  height: 340px !important;
  position: absolute;
  left: 200px;
  top: 100px;
  width: 600px;
  overflow: scroll;
}

#matchingButtonsMain {
  position: absolute;
  top: 300px;
  left: 850px;

}

#matchingButton1, #matchingButton2, #matchingButton3{
  width: 220px;
}