#hrManagerMainMenu {
  position: absolute;
  background-color: #00d4ff;
  width: 190px;

}

#jobForm {
  position: absolute;
  left: 50px;
  top: 100px;
  width: 100%;
}

#jobTitleInput {
  position: absolute;
  top: 55px;
  width: 100%;
}

#hrManagerJD {
  position: absolute;
  background-color: #00d4ff;
  width: 210px;

}


#scrollTableCandidatesMatch {
  height: 400px !important;
  position: absolute;
  left: 200px;
  top: 100px;
  width: 600px;
  overflow: scroll;
}

#matchingButton {
  position: absolute;
  top: 400px;
  left: 850px;

}