.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.progress-meter text2 {

}

#meters {
  position: absolute;
  top: 85px;
  left: 990px;
}


.ssv-small-label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #00d4ff;
}
