
#a, #d, #b, #e, #c {
  display: block;
}

#b:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

#d {
  height: 80px;
  overflow-y: auto;
}

#d td, #a th {
  width: 50%;
  float: left;
}
