#scrollList {

  height: 300px !important;
  overflow: scroll;
  position: absolute;
  left: 500px;
  top: 100px;
  width: 500px;
  text-align: center;
  word-wrap: break-word;

}

#addSkill {
  position: absolute;
  top: 100px;
  width: 100%;
}


