@import persistenceAPI.DataBaseConnection.Objects.Candidate

@(list: List[(Candidate, Double, Double, Double)])(jobDescriptionID: Int)

@main("Matching Algorithm") {

  <header>

    <nav id="upperbar" class="navbar navbar-inverse">

      <div class="container-fluid">

        <div class="navbar-header navbar-right">
          <div class="navbar-brand">Matching</div>
        </div>


        <ul class="nav navbar-nav">

          <li class="nav-item nav-link"><a href="/hrManagerMain">Home</a></li>

          <li class="nav-item nav-link dropdown">

            <a class="dropdown-toggle" data-toggle="dropdown" href="">
              Main Menu<span class="caret"></span></a>

            <ul id="hrManagerMainMenu" class="dropdown-menu">
              <li><a href="/hrManagerMain/createJobDescription">Add Job Description</a></li>
              <li><a href="#">Delete Job Description</a></li>
              <li><a href="/hrManagerMain/viewJobDescription">View Job Descriptions</a></li>
            </ul>

          </li>

          <li class="nav-item nav-link"><a href="/logout">Log Out</a></li>


        </ul>

      </div>

    </nav>

  </header>

  <div class="outer-container container-fluid">

  </div>

  <div id="scrollTableCandidatesMatch" class="container">

    <div class="table-group">

    @for(item <- list) {

      <a href="viewMatchedCandidate?id=@item._1.ID.toString&d1=@item._2&d2=@item._3&d3=@item._4&jobDescriptionID=@jobDescriptionID
      " class="list-group-item list-group-item-action">

        <table class="table">

          <tr>
            <td>@item._1.name</td>
            <td>@item._1.surname</td>
            <td>@item._1.educationName</td>
            <td>@item._1.currentJobTitle</td>
          </tr>

        </table>

      </a>

    }

    </div>

  </div>
  <div id="matchingButtonsMain" class="container">
    <form class="form-inline" role="form" method="post">

      <div class="form-group">
        <input type="hidden" name="actionType" value="allCapped"/>
      </div>

      <input id="matchingButton1" type="submit" value="Match All Capped" class="btn btn-primary pull-right">

    </form>

    <form class="form-inline" role="form" method="post">

      <div class="form-group">
        <input type="hidden" name="actionType" value="unCapped"/>
      </div>

      <input id="matchingButton2" type="submit" value="Match All Uncapped" class="btn btn-success pull-right">

    </form>

    <form class="form-inline" role="form" method="post">

      <div class="form-group">
        <input type="hidden" name="actionType" value="individuallyCapped"/>
      </div>

      <input id="matchingButton3" type="submit" value="Cap Individually" class="btn btn-info pull-right">

    </form>

  </div>

}