@import model.DataBaseConnection.Objects.Skill
@(list: List[Skill])(candidateID: Int)

@main("Main") {

  <header>

    <nav id="upperbar" class="navbar navbar-inverse">

      <div class="container-fluid">

        <div class="navbar-header">
          <div class="navbar-brand">Add Skill</div>
        </div>

        <ul class="nav navbar-nav">

          <li class="nav-item nav-link"><a href="/recruiterMain">Home</a></li>

          <li class="nav-item nav-link"><a href="/logout">Log Out</a></li>

        </ul>
      </div>
    </nav>

  </header>

  <div class="outer-container container-fluid">

  </div>

  <div id="skillCompScroller" class="container">

  @for(item <- list) {

    <form class="form-inline" role="form" method="post">

      <ul class=" form-group ">
        <li id="skillCompSelectList" class="list-group-item ">@item.name</li>
      </ul>
      <label for="skillLevel"></label>
      <select id="skillLevel" name="rating" class="selectpicker form-control list-group-item list-group-item-action" >
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <input type="hidden" name="skillID" value="@item.skillID" />
      <input type="hidden" name="candidateID" value="@candidateID" />
      <div class="form-group" >
        <input type="submit" class="form-control list-group-item list-group-item-action" value="Add">
      </div>

    </form>
  }

  </div>


}