@import model.DataBaseConnection.Objects.Candidate
@(item: Candidate)

@main("Main") {

  <header>

    <nav id="upperbar" class="navbar navbar-inverse">

      <div class="container-fluid">

        <div class="navbar-header">
          <div class="navbar-brand">Candidate Profile</div>
        </div>

        <ul class="nav navbar-nav">

          <li class="nav-item nav-link"><a href="/recruiterMain">Home</a></li>

          <li class="nav-item nav-link dropdown">

            <a class="dropdown-toggle" data-toggle="dropdown" href="">
              Menu<span class="caret"></span></a>

            <ul id="mainMenu" class="dropdown-menu">
              <li><a href="/recruiterMain/candidate/addSkill?CandidateID=@item.ID">Add Skill</a></li>
              <li><a href="#">Add Competency</a></li>
            </ul>

          </li>

          <li class="nav-item nav-link"><a href="/">Log Out</a></li>
        </ul>
      </div>
    </nav>

  </header>


  <div class="outer-container container-fluid">

  </div>

  <div id="candidateDescription" class="container">

    <div class="list-group">

      <table class="table table-inverse">

        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Education Name</th>
            <th>Current Job Title</th>
            <th>Education Level</th>
            <th>Experience Level</th>


          </tr>
        </thead>

        <tbody>
          <tr>
            <td>@item.name</td>
            <td>@item.surname</td>
            <td>@item.educationName</td>
            <td>@item.currentJobTitle</td>
            <td>@item.educationLevel</td>
            <td>@item.experienceLevel</td>


          </tr>
        </tbody>

      </table>


    </div>

  </div>

  <div id="candidateSkill" class="container">
    <table class="table table-inverse table-sm">

      <thead>
        <tr>
          <th>Skill</th>
          <th>Rating</th>

        </tr>
      </thead>

      <tbody class="scrollBody">
        <tr>
          <td>Something</td>
          <td>5</td>

        </tr>
      </tbody>

    </table>

  </div>

  <div id="candidateCompetency" class="container">
    <table class="table table-inverse table-sm">

      <thead class="scrollHead">
        <tr>
          <th>Competency</th>
          <th>Rating</th>

        </tr>
      </thead>

      <tbody class="scrollBody">
        <tr>
          <td>Leadership</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Leadership</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Leadership</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Leadership</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Leadership</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Leadership</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Leadership</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Leadership</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>

  </div>


}