@import persistenceAPI.DataBaseConnection.objects.ChatMessage

@(listOfSentMessages: List[ChatMessage])

@main("Sent Inbox") {

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/stylesheets/inbox.css")" >


  <header>

    <nav id="upperbar" class="navbar">

      <div class="container-fluid">

        <div class="navbar-header">
          <div id="text-navbar" class="navbar-brand">Job Profiler</div>
        </div>


        <a id="home-navbar" href="/recruiterMain">Home</a>

        <a id="logOut-navbar" href="/">Log Out</a>


      </div>
    </nav>

  </header>


  <div class="outer-container container-fluid">

  </div>

  <div id="inboxContainer" class="container">

    <div class="row">
      <div class="col-sm-3 col-md-2">
        <a href="sendMessage" class="btn btn-danger btn-sm btn-block" role="button">COMPOSE</a>
        <hr />
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/recruiterMain/inbox"><span class="badge pull-right">3</span>Inbox</a></li>
          <li class="active"><a href="#"><span class="badge pull-right">3</span>Sent Mail</a></li>
        </ul>
      </div>

      <div class="col-sm-9 col-md-10">

        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">
            <div class="list-group">

            @for(item <- listOfSentMessages) {

              <a href="/recruiterMain/readMessage?ChatMessageID=@item.chatMessageID" class="list-group-item">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>

                <span class="name" style="min-width: 120px;
                  display: inline-block;">@item.senderUserName</span>
                <span class="">@item.subject</span>
                <span class="text-muted" style="font-size: 11px;">
                @if(item.messageBody.length > 50) {
                  @item.messageBody.substring(0, 50)
                } else {
                  @item.messageBody
                }
                </span>
                <span class="badge">12:10 AM</span>

              </a>

            }
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
}





